# SPDX-License-Identifier: GPL-2.0+
# Video driver for virtio

config VIRTIO_VIDEO
	tristate "Virtio video V4L2 driver"
	depends on VIRTIO && VIDEO_DEV
	select VIDEOBUF2_DMA_SG
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_MEM2MEM_DEV
	select VIRTIO_DMA_SHARED_BUFFER
	help
          This is the virtual video driver for virtio.
          Say Y or M.

config VIRTIO_VIDEO_MTK_EXTENSION
	tristate "MTK extensions"
	depends on VIRTIO_VIDEO

config VIRTIO_VIDEO_TRACE_DEBUG
	bool "VIRTIO Video TRACE Debug support"
	depends on VIRTIO_VIDEO_MTK_EXTENSION
	help
          This is a debug interface for VIRTIO Video
          Set Y to enable this feature.
          Set N to disable this feature.
          If unsure, Set N to disable it.
