# CONFIG_TRUSTONIC_TEE_SUPPORT is not set
# CONFIG_TRUSTONIC_TRUSTED_UI is not set
# CONFIG_MICROTRUST_TEE_SUPPORT is not set
CONFIG_TEEGRIS_TEE_SUPPORT=m
CONFIG_TZDEV_USE_ARM_CALLING_CONVENTION=y
CONFIG_TZDEV=m
CONFIG_TZDEV_IWI_EVENT=176
CONFIG_TZDEV_IWI_PANIC=177
CONFIG_TZDEV_KTHREADS_SMPBOOT=y
CONFIG_TZDEV_SK_MULTICORE=y
CONFIG_TZIRS=y
CONFIG_TZLOG=y
CONFIG_TZLOG_PG_CNT=8
CONFIG_TZ_BOOT_LOG=y
CONFIG_TZ_BOOT_LOG_PG_CNT=2
CONFIG_TZ_TRANSPORT=y
CONFIG_TZ_TRANSPORT_PG_CNT=2
CONFIG_TZDEV_SWD_PANIC_IS_CRITICAL=y
CONFIG_TEEGRIS_VERSION=5
CONFIG_SAMSUNG_GKI_KERNEL=y
# CONFIG_TZDEV_CPUFREQ_TRANSITION is not set
