# CONFIG_TCPC_MT6360 is not set
# CONFIG_DEVICE_MODULES_CHARGER_MT6370 is not set
# CONFIG_MTK_CHARGER is not set
# CONFIG_MTK_CHARGER_TYPE_DETECT is not set
# CONFIG_CURRENT_SELECTOR_MTK_2P_CHARGER is not set
# CONFIG_MTK_PUMP_EXPRESS_PLUS_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_PLUS_20_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_40_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_45_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_50_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_50_PLUS_SUPPORT is not set
# CONFIG_MTK_HVBP_SUPPORT is not set
# CONFIG_CHARGER_RT9490 is not set
# CONFIG_CHARGER_RT9758 is not set
# CONFIG_CHARGER_RT9759 is not set
# CONFIG_MTK_CHARGER_THERMAL is not set
# CONFIG_DEVICE_MODULES_CHARGER_MT6360 is not set
# CONFIG_CHARGER_MT6375 is not set
# CONFIG_CHARGER_MT6379 is not set
# CONFIG_UFCS_CLASS is not set
# CONFIG_UFCS_MT6379 is not set
CONFIG_MTK_CG_PPT_MODE_OFF=y 
# CONFIG_BATTERY_MT6357 is not set
# CONFIG_BATTERY_MT6358 is not set
# CONFIG_BATTERY_MT6359P is not set
# CONFIG_GAUGE_MT6375 is not set
# CONFIG_GAUGE_MT6379 is not set

