CONFIG_SSDEV_IN_MTK=y
CONFIG_CHARGER_S2MU106=m
CONFIG_CHARGER_SM5714=m
CONFIG_PM_S2MU106=m
CONFIG_PDIC_SM5714=m
CONFIG_BATTERY_CISD=y
CONFIG_BATTERY_SAMSUNG=m
CONFIG_BATTERY_SAMSUNG_LEGO_STYLE=y
CONFIG_FUELGAUGE_S2MU106=m
CONFIG_FUELGAUGE_SM5714=m
CONFIG_MFD_S2MU106=m
CONFIG_MFD_SM5714=m
CONFIG_PDIC_NOTIFIER=m
CONFIG_USB_TYPEC_MANAGER_NOTIFIER=m
CONFIG_USB_HOST_NOTIFY=m
CONFIG_USB_NOTIFIER=m
CONFIG_USB_NOTIFY_LAYER=m
CONFIG_USE_MUIC=y
CONFIG_MUIC_CORE=m
CONFIG_MUIC_MANAGER=m
CONFIG_MUIC_NOTIFIER=m
CONFIG_MUIC_SYSFS=m
CONFIG_MUIC_SUPPORT_PDIC=m
CONFIG_MUIC_HV=y
CONFIG_MUIC_S2MU106=m
CONFIG_MUIC_S2MU106_RID=y
CONFIG_MUIC_SM5714=m
CONFIG_BATTERY_NOTIFIER=m
CONFIG_VBUS_NOTIFIER=m
CONFIG_SEC_MISC=y
CONFIG_DRV_SAMSUNG=m
