

CONFIG_FIVE=y




CONFIG_PROCA=y




CONFIG_PROCA_S_OS=y




CONFIG_PROCA_CERTIFICATES_DB=y




CONFIG_FIVE_GKI_10=y




# CONFIG_FIVE_TEE_DRIVER is not set




# CONFIG_FIVE_PA_FEATURE is not set




CONFIG_GAF=y




CONFIG_GAF_V6=y




CONFIG_SECURITY_DEFEX=y




CONFIG_SECURITY_DEFEX_USER=y




CONFIG_SECURITY_DEFEX_IMR_V2=y




CONFIG_KNOX_NCM=y




CONFIG_SECURITY_DSMS=y




CONFIG_SMB_SERVER=y




CONFIG_SMB_SERVER_CHECK_CAP_NET_ADMIN=y




CONFIG_SECURITY_KUMIHO=y




CONFIG_NTFS3_FS=y




CONFIG_NTFS3_LZX_XPRESS=y




CONFIG_NLS=y




CONFIG_F2FS_FS=y




CONFIG_F2FS_FS_SECURITY=y




CONFIG_F2FS_FS_COMPRESSION=y




CONFIG_EXT4_FS_POSIX_ACL=y




CONFIG_NTFS_FS=y




CONFIG_NTFS_DEBUG=y








CONFIG_EROFS_FS=y


